@charset "UTF-8";
body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  position: relative;
  color: #2196F3;
}

/* стилизация nav */
.site-nav__link.studio::after {
  content: " ";
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  top: 76px;
  color: #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
}

.site-nav__link.studio,
.site-nav__link.portfol {
  color: #2196F3;
}

.site-nav__link.portfol::after {
  content: " ";
  display: block;
  position: absolute;
  width: 78px;
  height: 4px;
  top: 76px;
  background: #2196F3;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: #2196F3;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover > .auth-nav__icon {
  fill: #2196F3;
}

.auth-nav__link:focus > .auth-nav__icon {
  fill: currentColor;
}

.page-header__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: 'Raleway',sans-serif;
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo:hover, .page-header__logo:focus {
  color: #2196F3;
}

.page-header__logo--color {
  color: #2196F3;
}

.button {
  align-items: center;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.about {
  padding-top: 94px;
}

.about__thumb {
  background: #F5F4FA;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__list {
  display: flex;
}

.about__item {
  flex-basis: calc((100% - 90px) / 4);
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.servises {
  padding-top: 94px;
  padding-bottom: 94px;
}

.servises__list {
  display: flex;
}

.servises__item {
  position: relative;
}

.servises__item:not(:last-child) {
  margin-right: 30px;
}

.servises__text {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.ourteam {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.ourteam__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.ourteam__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ourteam__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

.ourteam__position {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10;
  margin-bottom: 16px;
}

.sosial-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sosial-list__item:not(:last-child) {
  margin-right: 10px;
}

.sosial-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosial-list__link:hover, .sosial-list__link:focus {
  fill: #ffffff;
  background-color: #2196F3;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
}

.clients__item {
  flex-basis: calc((100% -150px) / 6);
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196F3;
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo--accent {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.footer__logo--accent:hover {
  color: #2196F3;
}

.footer-contact__item:not(:first-child) {
  margin-top: 10px;
}

.footer__position {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link:hover, .footer-contact__link:focus {
  color: #2196F3;
}

.footer-sosial__item {
  width: 44px;
  height: 44px;
}

.footer-sosial__item:not(:last-child) {
  margin-right: 10px;
}

.footer__sosial {
  margin-left: 70px;
}

.footer-sosial__list {
  display: flex;
}

.footer-sosial__icon {
  fill: #ffffff;
}

.footer-sosial__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
}

.footer__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__mail {
  margin-left: auto;
}

.fot-mail {
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  outline: none;
  background: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fot-mail:focus, .fot-mail:hover {
  border: 1px solid #2196F3;
}

.footer__button {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}

.submit__icon {
  margin-left: 10px;
}

.footer__form {
  display: flex;
  align-items: center;
}

/* стилизация portfolio */
.portfolio-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-button .item-portfolio + .item-portfolio {
  margin-left: 8px;
}

.button-portfolio {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover, .button-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196F3;
  color: #ffffff;
}

.image-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.image-portfolio .item-portfolio {
  margin-left: 30px;
  margin-top: 30px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.link-portfilio {
  display: block;
}

.link-portfilio:hover .top-text,
.link-portfilio:focus .top-text {
  transform: translateY(0%);
}

.link-portfilio:hover, .link-portfilio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: #212121;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.86;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-open {
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-open:focus, .btn-open:hover {
  fill: #2196F3;
}

.btn-open {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-field.coment {
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-title {
  display: contents;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus, .modal-form-input:hover {
  border: 1px solid #2196F3;
}

.modal-form-input:focus ~ .modal-form-icon,
.modal-form-input:hover ~ .modal-form-icon {
  fill: #2196F3;
}

.modal-form-lable {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal-form-icon {
  position: absolute;
  width: 15px;
  height: 13px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  display: block;
  position: relative;
}

.modal-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover, .modal-comment:focus {
  border: 1px soli #2196F3;
  fill: #2196F3;
}

.modal-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-lable {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.icon-dogovor {
  width: 15px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.icon-dogovor:hover, .icon-dogovor:focus {
  fill: #2196F3;
}

.checkbox:focus + .check-lable > .icon-dogovor {
  border: 2px solid #2196F3;
}

.dogovor {
  color: #2196F3;
}

.checkbox.is-hidden {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox:checked + .check-lable > .icon-dogovor {
  background: #2196F3;
  border: none;
}

.button.mod {
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/*# sourceMappingURL=main.css.map */