.about{
   padding-top: 94px;   
} 

.about__thumb{
   background: $bg-button;
   border-radius: 4px;
   width: 100%;
   height: 120px; 
   margin-bottom: 30px;    
   @include centerFlex;
   justify-content: center;
}

.about__list{
   display: flex;   

}


.about__item{   
   flex-basis: calc((100% - 90px) / 4);

   &:not(:last-child){
      margin-right: 30px;
   }
}
.about__title{ 
	@include font(normal, bold, 14px, 1.14, 0.03em, $title-text); 
   
	margin-bottom: 10px; 
  
   text-transform: uppercase;
}
.about__text{
	@include font(normal, normal, 14px, 1.71, 0.03em, $text);    
   
}
