.page-header{
   border-bottom: 1px solid #ECECEC;
}
.page-header__container{
   @include centerFlex;
}

.site-nav{   
	margin-left: 93px; 
}

.site-nav__list{
	display: flex;
}
.site-nav__item{
   &:not(:last-child){
   margin-right: 50px; 
  
}
}

.site-nav__link{   
   display: block;
   padding-top: 32px;
   padding-bottom: 32px; 
	
	@include font(normal, 500, 14px, 1.14, 0.02em, $title-text);

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
   position: relative;
   color: $accent;   
}

/* стилизация nav */

.site-nav__link.studio::after{      
   content: " ";
   display: block;
   position: absolute;
   width: 48px;
   height: 4px;   
   top: 76px;
   color: $accent;
   background-color: $accent;  
   border-radius: 2px;
}

.site-nav__link.studio,
.site-nav__link.portfol{
   color: $accent;  
}

.site-nav__link.portfol::after{
   content: " ";
   display: block;
   position: absolute;
   width: 78px;
   height: 4px; 
   top: 76px; 
   background: $accent;
   border-radius: 2px;
}


.auth-nav{
   @include centerFlex;
   margin-left: auto;
} 
.auth-nav__item:not(:last-child){
   margin-right: 50px;
}
.auth-nav__link{ 
	@include font(normal, 500, 14px, 1.14, 0.02em, $text);
	@include centerFlex;
	
   padding-top: 32px;
   padding-bottom: 32px;   

   text-decoration: none; 
   
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus{   
   color: $accent;
}
.auth-nav__icon{
   margin-right: 10px; 
   fill: $text;  

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.auth-nav__link:hover > .auth-nav__icon{
   fill: $accent;
} 
.auth-nav__link:focus > .auth-nav__icon{
    fill: currentColor;
}