.servises{
   padding-top: 94px;
   padding-bottom: 94px;
}


.servises__list{
   display: flex;
}


.servises__item{	
	position: relative;
	&:not(:last-child){
		margin-right: 30px;
	}
}
.servises__text{	
	@include centerFlex;
	justify-content: center;

	bottom: 0;
	position: absolute;	
	margin: 0 auto;
	
	width: 100%;
	height: 70px;
	
	@include font(normal, bold, 14px, 1.14, 0.03em, $white);
	
	text-align: center;	
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
	
	

}

