

.ourteam{
   padding-top: 94px;
   padding-bottom:94px;  
   background: $bg-button;
}

.ourteam__list{   
   display: flex;
   flex-wrap: wrap;
   margin-left: calc(-1 * 30px);
   margin-top: calc(-1 * 30px);
} 
.ourteam__item{
   flex-basis: calc(100% / 4 - 30px);
   margin-left: 30px;
   margin-top: 30px;
   background: $white;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.ourteam__box{    
   padding-top: 30px;
   padding-bottom: 30px;
   
}
.ourteam__name{
	@include font(normal, 500, 16px, 1.19, 0.03em, $title-text);
   
	text-align: center;

   margin-bottom: 10px;

}
.ourteam__position{
	@include font(normal, 500, 16px, 1.19, 0.03em, $text);
   
	text-align: center;
   margin-top: 10;
   margin-bottom: 16px;

}
