.button{   
   align-items: center; 
   padding: 10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   background-color: $accent;  
   cursor: pointer;  

	@include font(normal, bold, 16px, 1.88, 0.06em, $white); 
}

.menu-open{    
   padding: 21px 25px 8px 433px;
   border: none;
   background-color: transparent;
   position: absolute;
   cursor: pointer;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   &:hover,
   &:focus{
      fill: $accent;
   }
   @media screen and (min-width: 768px){
      display: none;
      }
      @media screen and (min-width: 1200px){
      display: none;
      } 
}
.menu-close{
   padding: 24px 25px 8px 396px;
   border: none;
   background-color: transparent;
   position: absolute;
   cursor: pointer;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   &:hover,
   &:focus{
      fill: $accent;
   }
   @media screen and (min-width: 768px){
      display: none;
      }
      @media screen and (min-width: 1200px){
      display: none;
      } 
 

}
// .menu-buttom .icon-cross{
//    display: none;
// }
// .menu-buttom.is-open .icon-cross{
//    display: block;
// }
// .menu-buttom.is-open .icon-menu{
//    display: none;
// }  


