.button{   
   align-items: center; 
   padding: 10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   background-color: $accent;  
   cursor: pointer;  

	@include font(normal, bold, 16px, 1.88, 0.06em, $white);  
}


