body{
   color: $text;
   font-family: Roboto, sans-serif;  
   letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
   margin-top: 0;
   margin-bottom: 0;   
}
ul{
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}
li{
   list-style: none;   
}
img{
   display: block;
   max-width: 100%; 
} 
a{
   text-decoration: none;
}
.link{
   text-decoration: none;
}
